<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>The Home Page</title>
</head>

<body>
    <h1>The Home Page
        <%= 4 + 5 + 1%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium natus exercitationem blanditiis sed laboriosam facere quos necessitatibus ab vitae laudantium est quis, unde voluptatem animi dolorem. Itaque, veritatis reprehenderit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium natus exercitationem blanditiis sed laboriosam facere quos necessitatibus ab vitae laudantium est quis, unde voluptatem animi dolorem. Itaque, veritatis reprehenderit?</p>
</body>

</html>